---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=foo+bar
    headers:
      Authorization:
      - OAuth oauth_consumer_key="s9k51GTfa9eRb1e3i6ygIdSXi", oauth_nonce="029d36dadcb61fe701911e5badcd4b50",
        oauth_signature="rQMow4pTycoQGhxCAmvLezkYLhI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1546952561", oauth_token="1082386848456949760-ydtZblfV3se6kccS9XB906AouIYRKo",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 08 Jan 2019 13:02:41 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 72a3af2537eac6dd93b38447f123bf87
      X-Response-Time:
      - '181'
      X-Transaction:
      - 00df177f00ee18f1
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Tue, 08 Jan 2019 13:02:41 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="s9k51GTfa9eRb1e3i6ygIdSXi", oauth_nonce="af866d4ede1bb5f3d641afed71082683",
        oauth_signature="Oy2rAhk0VzR6ECoQk%2F%2Bio0dXjW8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1546952561", oauth_token="1082386848456949760-ydtZblfV3se6kccS9XB906AouIYRKo",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 08 Jan 2019 13:02:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 665681f8bc85c528ca8efcd7e125ccbc
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1546953462'
      X-Response-Time:
      - '190'
      X-Transaction:
      - '00009e47001ca24f'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jan 08 12:58:23 +0000 2019","id":1082622543972904961,"id_str":"1082622543972904961","text":"foo
        bar","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/donald-trump-tweet.herokuapp.com\/\" rel=\"nofollow\"\u003edonald-trump-tweet\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1082386848456949760,"id_str":"1082386848456949760","name":"Donald
        J. Trump","screen_name":"phnyDonaldTrump","location":"Washington, DC","description":"Make
        Twitter Great Again","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Mon
        Jan 07 21:21:49 +0000 2019","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":22,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1082389261859483649\/zJ7TpI90_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1082389261859483649\/zJ7TpI90_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: Tue, 08 Jan 2019 13:02:42 GMT
recorded_with: VCR 4.0.0
